<div class="footer clear">
    <div class="main clear">
        <div class="footer-agreement">
            <a href="#">公司协议</a>|<span>联系我们：010-84918435</span>
        </div>
        <div class="footer-company">CopyRight © 北京拓途信息科技有限公司 京ICP备 16049157号</div>
    </div>
</div>
