<div class="header">
    <div class="main clear">
        <a href="/">
            <img class="header-logo" src="/img/logo.png" alt=""/>
        </a>
        {{> headerone}}
    </div>
    {{> headertwo}}
</div>
