<ul class="header-nav clear">
    <li class="header-nav-school">
        <a href="#">选校定位</a>
        <ul class="header-nav-select hidden">
            <li><a href="/select">智能选校</a></li>
            <li><a href="/school-screen">院校库</a></li>
        </ul>
    </li>
    <li><a href="#">申请管理</a></li>
    <li><a href="#">网申插件</a></li>
    <li><a href="/user-news">消息中心</a></li>
</ul>

{{> headeruser}}

<div class="header-search">
    <input type="text" placeholder="学校名称或其他关键字"/>
    <img class="header-search-icon header-search-icon1" src="/img/icon-search.png" alt=""/>
    <img class="header-search-icon header-search-icon2" src="/img/icon-search2.png" alt=""/>
    <div class="view header-search-result hidden">
        <div class="header-search-result-school">
            <div class="header-search-result-title">学校名称</div>
            <div class="header-search-scroll" id="search-school">
                <ul>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                </ul>
            </div>
        </div>
        <div class="header-search-result-article">
            <div class="header-search-result-title">文章</div>
            <div class="header-search-scroll" id="search-article">
                <ul>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                </ul>
            </div>
        </div>
        <div class="header-search-result-none hidden">未搜索到相关信息</div>
    </div>
</div>
