<div class="main clear">
    <a href="/"><img class="header-logo" src="/img/logo.png" alt=""/></a>
    <a href="/"><img class="header-logo2" src="/img/logo2.png" alt=""/></a>
    <ul class="header-nav clear">
        <li class="header-nav-school">
            <a href="#">选校定位</a>
            <ul class="header-nav-select hidden">
                <li><a href="/select">智能选校</a></li>
                <li><a href="/school-screen">院校库</a></li>
            </ul>
        </li>
        <li><a href="#">申请管理</a></li>
        <li><a href="#">网申插件</a></li>
        <li><a href="/user-news">消息中心</a></li>
    </ul>
    <div class="header-user">
        {{#if partials.loginstate.data.headerImg}}
        <div class="header-user-info">
            <img class="header-user-info-avatar" src="{{../data.headerImg}}" alt=""/>
            <ul class="header-user-info-operation hidden">
                <li><a href="/user-point">积分中心</a></li>
                <li><a href="/user-set">个人设置</a></li>
                <li class="header-user-logout"><a href="#">退出登录</a></li>
            </ul>
        </div>
        {{else}}
        <div classs="header-user-login">
            <div class="header-user-login-title"><a href="#">注册</a>/<a href="#">登录</a></div>
            <div class="login hidden">
                <div class="view login-box login-wechat">
                    <img class="login-switch" src="/img/login-wechat-switch.png" alt=""/>
                    <div class="login-title">微信登录</div>
                    <div id="login_container">
                        <img class="login-qrcode" src="/img/qrcode.png" alt=""/>
                    </div>
                    <div class="login-notice">打开微信扫一扫</div>
                </div>
                <div class="view login-box login-account hidden">
                    <img class="login-switch" src="/img/login-account-switch.png" alt=""/>
                    <div class="login-title">已有账号登录</div>
                    <div class="login-message hidden"></div>
                    <div class="form-item">
                        <input class="login-username" type="text" placeholder="用户名"/>
                        <img class="login-icon" src="/img/icon-email.png" alt=""/>
                    </div>
                    <div class="form-item">
                        <input class="login-password" type="password" placeholder="密码"/>
                        <img class="login-icon" src="/img/icon-password.png" alt=""/>
                    </div>
                    <div id="sample-captcha"></div>
                    <div class="login-forget">
                        <a href="/register-forget">忘记密码</a>
                    </div>
                    <button class="login-submit button-solid-ban">登录</button>
                    <div class="login-notice">目前仅支持扫描微信自动注册</div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="header-search">
        <input type="text" placeholder="学校名称或其他关键字"/>
        <img class="header-search-icon header-search-icon1" src="/img/icon-search.png" alt=""/>
        <img class="header-search-icon header-search-icon2" src="/img/icon-search2.png" alt=""/>
        <div class="view header-search-result hidden">
            <div class="header-search-result-school">
                <div class="header-search-result-title">学校名称</div>
                <div class="header-search-scroll" id="search-school">
                    <ul>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-search-result-article">
                <div class="header-search-result-title">文章</div>
                <div class="header-search-scroll" id="search-article">
                    <ul>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                        <li><a href="#"><span>加州</span>大学伯克利分校</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-search-result-none hidden">未搜索到相关信息</div>
        </div>
    </div>
</div>
<div class="view view-article hidden">
    <div class="view-article-title">
        文章
        <img class="view-article-close" src="/img/icon-close.png" alt=""/>
    </div>
    <div class="view-article-content" id="view-article-scroll">
        <p>
            大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校
            大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校
            大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校
            大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校
            大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校
            大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校
            大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校
            大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校
            大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校大学伯克利分校
        </p>
    </div>
</div>
<div class="mask hidden"></div>
<div class="notice hidden"></div>
