<div class="help-tab">
    <ul class="tab-title clear">
        <li class="active">精选文章</li>
        <li>学长答疑</li>
    </ul>
    <div class="tab-box">
        <div class="help-list" id="help-list">
            <ul>
                <li><p>留美前辈以自身经历来谈MS/PHD选校</p></li>
                <li><p>与美国五所顶尖高校学生零距离：杜克大学面试官揭顶级名校内部录取规则</p></li>
                <li><p>留美前辈以自身经历来谈MS/PHD选校</p></li>
                <li><p>留美前辈以自身经历来谈MS/PHD选校</p></li>
                <li><p>留美前辈以自身经历来谈MS/PHD选校</p></li>
                <li><p>留美前辈以自身经历来谈MS/PHD选校</p></li>
                <li><p>留美前辈以自身经历来谈MS/PHD选校</p></li>
                <li><p>留美前辈以自身经历来谈MS/PHD选校</p></li>
                <li><p>留美前辈以自身经历来谈MS/PHD选校</p></li>
            </ul>
        </div>
        <div class="help-article hidden">
            <div class="help-article-title">
                分享美国名校读研的制胜宝典
            </div>
            <div class="help-article-content" id="help-article">
                <p>
                    分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典
                    分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典
                    分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典分享美国名校读研的制胜宝典
                </p>
            </div>
        </div>
    </div>
    <div class="tab-box hidden">
        <div class="help-login hidden">
            <img src="/img/help-login.png" alt=""/>
            <button class="help-login-button button-solid">登录</button>
        </div>
        <div class="help-ask">
            <div class="form-select help-select">
                <div class="form-select-value">选择问题类型</div>
                <div class="form-select-arrow"></div>
                <div class="form-select-option hidden">
                    <ul>
                        <li data-type="10001">院校/专业相关</li>
                        <li data-type="10002">选校结果分析</li>
                        <li data-type="10003">申请流程</li>
                        <li data-type="0">其他</li>
                    </ul>
                    <ul class="hidden">
                        <li data-type="10001">院校/专业相关</li>
                        <li>文书写作</li>
                        <li>申请流程</li>
                        <li data-type="0">其他</li>
                    </ul>
                </div>
            </div>
            <div class="help-question">
                <textarea disabled="disabled"></textarea>
                <div class="help-question-placeholder">学长会在24小时内回答你的提问，<br/>记得注意消息提示喔！</div>
                <div class="help-upload hidden">
                    <div class="help-upload-now"></div>
                    <span>图片.jpg</span>
                    <img class="help-upload-delete" src="/img/help-upload-delete.png" alt=""/>
                </div>
            </div>
        </div>
        <div class="help-result hidden">
            <p>学长已经收到了你的提问<br/>请耐心等待！</p>
            <span>你将会在消息中心收到学长的回复</span>
        </div>
    </div>
    <input id="help-file" class="hidden" type="file"/>
    <div class="help-notice hidden"></div>
    <img class="help-back hidden" src="/img/help-back.png" alt=""/>
    <img class="help-file hidden" src="/img/help-file.png" alt=""/>
    <img class="help-close" src="/img/help-close.png" alt=""/>
    <img class="help-send hidden" src="/img/help-send.png" alt=""/>
</div>