<div class="help-tab">
    <ul class="tab-title clear">
        <li class="active">精选文章111</li>
        <li>学长答疑222</li>
    </ul>
    <div class="tab-box" id = "help-content">
        <div class="help-list">
            <div class="scrollbar-macosx" id="help-list">
                <ul>

                </ul>
            </div>
        </div>
        <div class="help-article hidden">
            <div class="help-article-title">
                
            </div>
            <div class="help-article-content">
                <div class="scrollbar-macosx" id="help-article">
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-box hidden">
        {{#if partials.loginstate.data.headerImg}}
        <div class="help-ask">
            <div class="form-select help-select">
                <div class="form-select-value">选择问题类型</div>
                <div class="form-select-arrow"></div>
                <div class="form-select-option hidden">
                    <ul>
                        <li data-type="10001">院校/专业相关</li>
                        <li data-type="10002">文书写作</li>
                        <li data-type="10003">申请流程</li>
                        <li data-type="0">其他</li>
                    </ul>
                </div>
            </div>
            <div class="help-question">
                <textarea disabled="disabled"></textarea>
                <div class="help-question-placeholder">学长会在24小时内回答你的提问，<br/>记得注意消息提示喔！</div>
                <div class="help-upload hidden">
                    <div class="help-upload-now"></div>
                    <span>图片.jpg</span>
                    <img class="help-upload-delete" src="/img/help-upload-delete.png" alt=""/>
                </div>
            </div>
        </div>
        {{else}}
        <div class="help-login">
            <img src="/img/helplogin.png" alt=""/>
            <p>请先登录以便向学长提问</p>
            <button class="help-login-button button-solid">登录</button>
        </div>
        {{/if}}

        <div class="help-result hidden">
            <p>学长已经收到了你的提问<br/>请耐心等待！</p>
            <span>你将会在消息中心收到学长的回复</span>
        </div>

    </div>
    <div class="help-notice hidden"></div>
    <img class="help-back hidden" src="/img/help-back.png" alt=""/>
    <img class="help-close" src="/img/help-close.png" alt=""/>
    {{#if partials.loginstate.data.headerImg}}
        <div class="help-file hidden">
            <button class="help-file-icon button-hollow">上传文件</button>  
            <img class="hidden" src="/img/help-file-active.png" alt=""/>
            <img src="/img/help-file-ban.png" alt=""/>
        </div>
        <div class="help-send hidden">
            <img class="hidden" src="/img/help-send.png" alt=""/>
            <img class="hidden" src="/img/help-send-active.png" alt=""/>
            <img src="/img/help-send-ban.png" alt=""/>
        </div>
    {{/if}}

</div>