        <div class="news-article-type">
            <span>{{data.type}}</span>
            <div class="news-article-date">{{showDate data.date}}</div>
        </div>
        <div class="news-article-title">{{data.question}}</div>
        <div class="news-article-content scrollbar-macosx" id="news-content">
            <p>{{data.answer}}</p>
        </div>
        <button class="news-article-close button-solid">关闭</button>