<div class="global-side">
    <h3>目录</h3>
    <ul>
        <li><a href="/">弹幕评论<i></i></a></li>
        <li><a href="/game1">数独游戏<i></i></a></li>
        <li><a href="/webappphoto">移动相册<i></i></a></li>
        <li><a href="/blogcss">扁平化风格博客<i></i></a></li>
        <li><a href="/mooc1">慕课网页面<i></i></a></li>
        <li><a href="/scrolljs">js原生轮播图<i></i></a></li>
        <li><a href="/jd_nav">京东导航栏<i></i></a></li>
    </ul>
</div>