<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=0.5, user-scalable=yes" name="viewport">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>拓途网</title>
    <link rel="stylesheet" type="text/css" href="/css/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="/css/visualcaptcha.css" />
    <link rel="stylesheet" type="text/css" href="/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="http://cdn.bootcss.com/handlebars.js/4.0.6/handlebars.min.js"></script>
    <script src="http://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.runtime.min.js"></script>
    <script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

    <script data-main="/js/app/config.js" src="/js/lib/require.js"></script>

    </head>
    <body>

        <div class="app">
            {{#if show}}
                <div class="header">{{> header}}</div>
            {{else}}
                <div class="header">{{> header}}</div>
            {{/if}}
            {{{body}}}
            <div class="footer">{{> footer}}</div>
        </div>

        <div class="login hidden">
            <div class="view login-box login-wechat">
                <div class="login-switch">
                    <img src="/img/login-wechat-switch.png" alt=""/>
                    <div class="login-switch-notice">切换至帐号登录</div>
                </div>
                <div class="login-title">微信登录</div>
                <div id="login_container">
                    <img class="login-qrcode" src="/img/qrcode.png" alt=""/>
                </div>
                <div class="login-notice">打开微信扫一扫</div>
            </div>
            <div class="view login-box login-account hidden">
                <div class="login-switch" >
                    <img src="/img/login-account-switch.png" alt=""/>
                    <div class="login-switch-notice">切换至二维码登录</div>
                </div>
                <div class="login-title">已有账号登录</div>
                <div class="login-message hidden"></div>
                <div class="form-item">
                    <input class="login-username" type="text" placeholder="用户名"/>
                    <img class="login-icon" src="/img/icon-email.png" alt=""/>
                </div>
                <div class="form-item">
                    <input class="login-password" type="password" placeholder="密码"/>
                    <img class="login-icon" src="/img/icon-password.png" alt=""/>
                </div>
                <div id="sample-captcha"></div>
                <div class="login-forget">
                    <a href="/register-forget">忘记密码</a>
                </div>
                <button class="login-submit button-solid-ban">登录</button>
                <div class="login-notice">目前仅支持扫描微信自动注册</div>
            </div>
        </div>
        <div class="view view-article hidden">
            <div class="view-article-title">
                文章
                <img class="view-article-close" src="/img/icon-close.png" alt=""/>
            </div>
            <div class="view-article-content" id="view-article-scroll">
                <p>
                </p>
            </div>
        </div>
        <div class="mask hidden"></div>
        <div class="notice hidden"></div>

    </body>
</html>

