<div class="container mail">
    <img class="mail-logo" src="/img/mail-logo.png" alt=""/>
    <div class="mail-title">重置密码</div>
    <img class="mail-icon" src="/img/icon-mail-reset.png" alt=""/>
    <div class="mail-content">
        您申请为<span>demo@qq.com</span>重置账户密码，请点击重置密码按钮以重置您的密码<br/>
        如果您没有要求重置密码，请忽略这封邮件
    </div>
    <a class="mail-button button-solid" href="#">重置密码</a>
    <div class="mail-notice">
        无法点击重置按钮？复制以下网址到您的浏览器以重置您的密码<br/>
        <span>http://api.utuotu.com/xxxxxxxxx</span>
    </div>
</div>
