<div class="index-main">
        <div class="section">
            <div class="main page1 hidden">
                <img class="page1-title hidden" src="/img/page1-title.png" alt=""/>
                <img class="page1-button hidden" src="/img/page1-button.png" alt=""/>
            </div>
            <img class="page1-arrow hidden" src="/img/page1-arrow.png" alt=""/>
        </div>
        <div class="section">
            <div class="main page2 hidden clear">
                <div class="page2-pic">
                    <img class="page2-pic-mac hidden" src="/img/page2-pic-mac.png" alt=""/>
                    <img class="page2-pic-star1 hidden" src="/img/page2-pic-star1.png" alt=""/>
                    <img class="page2-pic-star2 hidden" src="/img/page2-pic-star2.png" alt=""/>
                    <img class="page2-pic-star3 hidden" src="/img/page2-pic-star3.png" alt=""/>
                    <img class="page2-pic-star4 hidden" src="/img/page2-pic-star4.png" alt=""/>
                    <img class="page2-pic-star5 hidden" src="/img/page2-pic-star5.png" alt=""/>
                    <img class="page2-pic-star6 hidden" src="/img/page2-pic-star6.png" alt=""/>
                    <img class="page2-pic-star7 hidden" src="/img/page2-pic-star7.png" alt=""/>
                    <img class="page2-pic-content hidden" src="/img/page2-pic-content.png" alt=""/>
                    <img class="page2-pic-magnifier hidden" src="/img/page2-pic-magnifier.png" alt=""/>
                </div>
                <img class="page2-words hidden" src="/img/page2-words.png" alt=""/>
            </div>
        </div>
        <div class="section">
            <div class="main page3 hidden clear">
                <img class="page3-words hidden" src="/img/page3-words.png" alt=""/>
                <div class="page3-pic">
                    <img class="page3-pic-star hidden" src="/img/page3-star.png" alt=""/>
                    <div class="page3-pic-before">
                        <img class="page3-pic-bg hidden" src="/img/page3-bg.png" alt=""/>
                        <img class="page3-pic-people hidden" src="/img/page3-people.png" alt=""/>
                        <img class="page3-pic-cloud1 hidden" src="/img/page3-cloud.png" alt=""/>
                        <img class="page3-pic-cloud2 hidden" src="/img/page3-cloud.png" alt=""/>
                    </div>
                    <img class="page3-pic-last hidden" src="/img/page3-last.png" alt=""/>
                    <img class="page3-pic-mark hidden" src="/img/page3-mark.png" alt=""/>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="main page4 hidden clear">
                <div class="page4-pic">
                    <img class="page4-pic-cloud2 hidden" src="/img/page4-cloud.png" alt=""/>
                    <img class="page4-pic-round hidden" src="/img/page4-round.png" alt=""/>
                    <img class="page4-pic-cloud1 hidden" src="/img/page4-cloud.png" alt=""/>
                    <img class="page4-pic-bg hidden" src="/img/page4-bg.png" alt=""/>
                    <img class="page4-pic-star hidden" src="/img/page4-star.png" alt=""/>
                    <img class="page4-pic-right hidden" src="/img/page4-right.png" alt=""/>
                    <div class="page4-pic-book hidden">
                        <img src="/img/page4-book.png" alt=""/>
                    </div>
                </div>
                <img class="page4-words hidden" src="/img/page4-words.png" alt=""/>
            </div>
        </div>/
        <div class="section">
            <div class="main page5 hidden clear">
                <img class="page5-words hidden" src="/img/page5-words.png" alt=""/>
                <div class="page5-pic">
                   <div class="page5-pic-before">
                       <img class="page5-pic-round hidden" src="/img/page5-round.png" alt=""/>
                       <img class="page5-pic-star hidden" src="/img/page5-star.png" alt=""/>
                       <img class="page5-pic-book1 hidden" src="/img/page5-book1.png" alt=""/>
                       <img class="page5-pic-book2 hidden" src="/img/page5-book2.png" alt=""/>
                       <div class="page5-pic-pen hidden">
                           <img src="/img/page5-pen.png" alt=""/>
                       </div>
                       <img class="page5-pic-hole hidden" src="/img/page5-hole.png" alt=""/>
                       <img class="page5-pic-ear hidden" src="/img/page5-ear.png" alt=""/>
                       <img class="page5-pic-ear2 hidden" src="/img/page5-ear2.png" alt=""/>
                       <img class="page5-pic-hat hidden" src="/img/page5-hat.png" alt=""/>
                   </div>
                    <img class="page5-pic-last hidden" src="/img/page5-last.png" alt=""/>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="main page6 hidden clear">
                <div class="page6-pic">
                    <div class="page6-colour hidden">
                        <img src="/img/page6-colour.png" alt=""/>
                    </div>
                    <img class="page6-pic-star hidden" src="/img/page6-star.png" alt=""/>
                    <div class="page6-pic-before">
                        <img class="page6-pic-round hidden" src="/img/page6-round.png" alt=""/>
                        <img class="page6-pic-board hidden" src="/img/page6-board.png" alt=""/>
                    </div>
                    <img class="page6-pic-last hidden" src="/img/page6-last.png" alt=""/>
                    <div class="pag6-line">
                        <div class="page6-line1 hidden"></div>
                        <div class="page6-line2 hidden"></div>
                        <div class="page6-line3 hidden"></div>
                        <div class="page6-line4 hidden"></div>
                        <div class="page6-line5 hidden"></div>
                    </div>
                </div>
                <img class="page6-words hidden" src="/img/page6-words.png" alt=""/>
            </div>
        </div>
        <div class="section">
            <div class="main page7 hidden">
                <img class="page7-bg hidden" src="/img/page7-bg.png" alt=""/>
                <img class="page7-button hidden" src="/img/page7-button.png" alt=""/>
            </div>
            <div class="footer index"></div>
        </div>
</div>