<div class="school main clear">
    <ul class="screen-side">
        <div class="screen-side-box">
            <div class="screen-side-title">搜索院校</div>
            <div class="screen-side-form">
                <div class="form-item">
                    <input class="screen-form-school" type="text" placeholder="学校名称"/>
                    <img class="screen-side-form-search" src="/img/icon-search.png" alt=""/>
                </div>
            </div>
        </div>
        <div class="screen-side-box">
            <div class="screen-side-title">筛选条件</div>
            <div class="screen-side-form">
                <div class="screen-side-name">地理位置</div>
                <div class="form-select screen-form-country">
                    <div class="form-select-value">选择地区</div>
                    <div class="form-select-arrow"></div>
                    <div class="form-select-option hidden">
                        <ul>
                            <li short_country="US">美国</li>
                            <li short_country="CA">加拿大</li>
                        </ul>
                    </div>
                </div>
                <div class="form-select screen-form-state">
                    <div class="form-select-value">选择州(省)</div>
                    <div class="form-select-arrow"></div>
                    <div class="form-select-option scrollbar-macosx hidden" id="screen-state">
                        <ul>
                        </ul>
                    </div>
                </div>
                <div class="screen-side-name">地域偏好</div>
                <div class="form-item screen-form-radio screen-form-preference clear">
                    <button class="button-hollow-ban">国际都市</button>
                    <button class="button-hollow-ban">一般城市</button>
                </div>
                <div class="screen-side-name">特色专业</div>
                <div class="form-select screen-form-major">
                    <div class="form-select-value">选择特色专业</div>
                    <div class="form-select-arrow"></div>
                    <div class="form-select-option scrollbar-macosx hidden" id="screen-major">
                        <ul>
                        </ul>
                    </div>
                </div>
                <div class="screen-side-name">学位</div>
                <div class="form-item screen-form-radio screen-form-degree clear">
                    <button class="button-hollow-ban">硕士学位</button>
                    <button class="button-hollow-ban">博士学位</button>
                </div>
                <button class="screen-side-button screen-side-search button-solid-ban">搜索</button>
                <button class="screen-side-button screen-side-reset button-hollow">重置筛选项</button>
            </div>
        </div>
    </ul>

    <div class="school-main screen" id="search-result">
        {{> search-result}}
    </div>
</div>