<div class="school main clear">
    {{> Inslibrary/schooldetail}}
    <ul class="school-side" data-school={{sid}}>
        <li class="school-recommend-page">推荐专业</li>
        <li class="school-all-page active">全部专业</li>
        {{#if modifyMajor}}
        <li class="school-side-revise">重新推荐</a></li>
        {{/if}}
        
        <ul class="school-side-son">
            {{#each data.majors}}
               <li class="school-academy-page" data-academy="{{academy}}">{{academy}}</li>
            {{/each}}

        </ul>
    </ul>
    <div id="school-content-page">
        {{#unless recommend}}
        {> Inslibrary/school-detail}} 
        {{else}}
        {{> Inslibrary/school-all}} 
        {{/unless}}
         
    </div>
</div> 
{{#if modifyMajor}}
<div class="help-icon">
    <img class="help-icon-pic" src="/img/icon-help.png" alt=""/>
    <img class="help-icon-notice hidden" src="/img/help-notice.png" alt=""/>
</div>
<div class="view help hidden">
    {{> help}}
</div>
{{/if}}