    <div class="school main clear">
        {{> Inslibrary/schooldetail}}
        <ul class="school-side">
            <li><a href="/school-recommend?sid={{sid}}">推荐专业</a></li>
            <li class="active">
                <a href="/school-major?sid={{sid}}">全部专业</a>
            </li>
            
            <ul class="school-side-son">
                {{#each data.majors}}
                <li><a href="/school-majorlist?sid={{@root.sid}}">{{academy}}</a></li>
                {{/each}}
            </ul>
        </ul>
        <div class="school-box school-all">
            <div class="school-box-title">
                A-Z list
                <img class="school-box-up" src="/img/icon-up.png" alt=""/>
                <img class="school-box-down hidden" src="/img/icon-down.png" alt=""/>
            </div>
            <div class="school-box-content">
            {{> Inslibrary/academy}}
            </div>
        </div>
    </div>