<div class="school main clear">
    {{> Inslibrary/schooldetail}}
    <ul class="school-side" data-school={{sid}}>
        <li class="school-recommend-page active">推荐专业</li>
        <li class="school-all-page ">全部专业</li>
        <li class="school-side-revise" style="display: none;"><a>重新推荐</a></li>
        
        <div id="academylist">
            <ul class="school-side-son">
                {{#each data.majors}}
                   <li class="school-academy-page"  data-academy="{{academy}}">{{academy}}</li>
                {{/each}}
            </ul>  
        </div>

    </ul>
    <div id="school-content-page">
        {{> Inslibrary/school-detail}} 
    </div>
</div> 

<div class="help-icon hidden">
    <img class="help-icon-pic" src="/img/icon-help.png" alt=""/>
    <img class="help-icon-notice hidden" src="/img/help-notice.png" alt=""/>
</div>
<div class="view help hidden">
    {{> help}}
</div>
