    <div class="school main clear">
        <div class="school-info">
            <img class="school-info-logo" src="img/school-logo.png" alt=""/>
            <div class="school-info-name">加州大学洛杉矶分校<span class="school-info-address">Los angeles, CA, USA </span></div>
            <div class="school-info-english">University of California-Los Angeles (UCLA) </div>
            <div class="school-info-link"><a href="#">www.UCLA.com</a></div>
            <div class="school-info-rank">U.S. NEWS排名：24 </div>
        </div>
        <div class="school-box school-brief">
            <div class="school-box-title school-brief-title">
                学校简介
                <img class="school-box-up" src="img/icon-up.png" alt=""/>
                <img class="school-box-down hidden" src="img/icon-down.png" alt=""/>
            </div>
            <div class="school-box-content school-brief-content">
                <img src="img/school-map.png" alt=""/>
                <div class="school-brief-describe">
                    <p>
                        位于美国加州旧金山湾区南部的帕拉阿图市（Palo Alto），临近世界著名高科技园区硅谷，是世界著名私立研
                        究型大学。斯坦福占地约33平方公里，是美国面积第六大的大学。<br/>
                        斯坦福大学培养了众多高科技产品的领导者及创业精神的人才，这其中就包括惠普、谷歌、雅虎、耐克、罗
                        技、特斯拉汽车、Firefox、艺电、太阳微系统、NVIDIA、思科、硅谷图形及eBay等公司的创办人，校友涵盖30名
                        富豪企业家及17名太空员，亦为培养最多美国国会成员的院校之一。
                    </p>
                </div>
            </div>
        </div>
        <ul class="school-side">
            <li><a href="#">推荐专业</a></li>
            <li class="active">
                <a href="#">全部专业</a>
            </li>
            <ul class="school-side-son">
                <li><a href="#">商学院</a></li>
                <li><a href="#">医学院</a></li>
                <li><a href="#">法学院</a></li>
                <li><a href="#">工学院</a></li>
                <li><a href="#">文理学院</a></li>
                <li><a href="#">教育学院</a></li>
            </ul>
        </ul>
        <div class="school-box school-all">
            <div class="school-box-title">
                A-Z list
                <img class="school-box-up" src="img/icon-up.png" alt=""/>
                <img class="school-box-down hidden" src="img/icon-down.png" alt=""/>
            </div>
            <div class="school-box-content">
                <ul class="all-list clear">
                    <li class="all-list-type">A</li>
                    <li><a href="#">Actural Science </a></li>
                    <li><a href="#">African-American/Black Studies</a></li>
                    <li><a href="#">Allied Health Diagnostic, Intervention, and Treatment Professions, Other</a></li>
                    <li class="all-list-type">B</li>
                    <li><a href="#">Actural Science </a></li>
                    <li><a href="#">African-American/Black Studies</a></li>
                    <li><a href="#">Allied Health Diagnostic, Intervention, and Treatment Professions, Other</a></li>
                    <li class="all-list-type">C</li>
                    <li><a href="#">Actural Science </a></li>
                    <li><a href="#">African-American/Black Studies</a></li>
                    <li><a href="#">Allied Health Diagnostic, Intervention, and Treatment Professions, Other</a></li>
                    <li><a href="#">Allied Health Diagnostic, Intervention, and Treatment Professions, Other</a></li>
                    <li><a href="#">Allied Health Diagnostic, Intervention, and Treatment Professions, Other</a></li>
                    <li><a href="#">Allied Health Diagnostic, Intervention, and Treatment Professions, Other</a></li>
                </ul>
            </div>
        </div>
    </div>