    <div class="school main clear">
        {{> Inslibrary/schooldetail}}
        {{> Inslibrary/majornum}}
        <div class="school-box school-all">
            <div class="school-box-title">
                A-Z list
                <img class="school-box-up" src="/img/icon-up.png" alt=""/>
                <img class="school-box-down hidden" src="/img/icon-down.png" alt=""/>
            </div>
            <div class="school-box-content">
            {{> Inslibrary/academy}}
            </div>
        </div>
    </div>