<div class="select main clear">
    <div class="select-box">
        <div class="select-title">
            申请偏好（必选/多选）
            <img class="select-title-control select-title-open" src="img/select-open.png" alt=""/>
        </div>
        <div class="select-content select-preference">
            <ul class="select-country clear">
                <li class="select-preference-title">国家地区</li>
                <li class="select-preference-radio active" data-value="US">
                    <img class="grey" src="/img/select-usa.png" alt=""/>
                    <img class="blue" src="/img/select-usa-active.png" alt=""/>
                </li>
                <li class="select-preference-radio" data-value="CA">
                    <img class="grey" src="/img/select-canada.png" alt=""/>
                    <img class="blue" src="/img/select-canada-active.png" alt=""/>
                </li>
                <li>
                    <img src="/img/select-more.png" alt=""/>
                </li>
            </ul>
            <ul class="select-position clear">
                <li class="select-preference-title">地理位置</li>
                <li class="select-preference-radio active"  data-value="1">
                    <img class="grey" src="/img/select-cosmopolis.png" alt=""/>
                    <img class="blue" src="/img/select-cosmopolis-active.png" alt=""/>
                </li>
                <li class="select-preference-radio"  data-value="2">
                    <img class="grey" src="/img/select-city.png" alt=""/>
                    <img class="blue" src="/img/select-city-active.png" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="select-box">
        <div class="select-title">
            基本情况（必选）
            <img class="select-title-control select-title-open" src="/img/select-open.png" alt=""/>
        </div>
        <div class="select-content select-info">
            <div class="select-info-input clear">
                <div class="form-item select-info-school clear">
                    <span class="form-item-name">毕业学校</span>
                    <input class="select-school" type="text"/>
                    <div class="form-select-option hidden" id="select-school">
                        <ul>
                            <li>北京联合大学</li>
                            <li>北京联合大学</li>
                            <li>北京联合大学</li>
                            <li>北京联合大学</li>
                            <li>北京联合大学</li>
                            <li>北京联合大学</li>
                            <li>北京联合大学</li>
                            <li>其他</li>
                        </ul>
                    </div>
                    <div class="form-item-notice hidden">
                        <div class="triangle"></div>
                        <p><span></span></p>
                    </div>
                </div>
                <div class="form-item select-info-major clear">
                    <span class="form-item-name">毕业专业</span>
                    <input class="select-major" type="text"/>
                    <div class="form-select-option hidden" id="select-major">
                        <ul>
                            <li>法学类</li>
                            <li>数学类</li>
                            <li>化学类</li>
                        </ul>
                    </div>
                    <div class="form-item-notice hidden">
                        <div class="triangle"></div>
                        <p><span></span></p>
                    </div>
                </div>
                <div class="form-item select-info-major2 clear hidden">
                    <span class="form-item-name">若有，请填写第二专业</span>
                    <input class="select-major2" type="text"/>
                    <div class="form-select-option hidden" id="select-major2">
                        <ul>
                            <li>北京联合大学</li>
                            <li>北京联合大学</li>
                            <li>北京联合大学</li>
                            <li>北京联合大学</li>
                            <li>北京联合大学</li>
                            <li>北京联合大学</li>
                            <li>北京联合大学</li>
                            <li>北京联合大学</li>
                        </ul>
                    </div>
                    <div class="form-item-notice hidden">
                        <div class="triangle"></div>
                        <p><span></span></p>
                    </div>
                </div>
            </div>
            <div class="select-info-radio clear">
                <div class="form-item select-school-type">
                    <span class="form-item-name">毕业时间</span>
                    <div class="form-radio selected" data-value="1">
                        <img src="/img/radio.png" alt=""/>
                        <img src="/img/radio-selected.png" alt=""/>
                        <span class="form-radio-value">2017年及以前</span>
                    </div>
                    <div class="form-radio" data-value="2">
                        <img src="/img/radio.png" alt=""/>
                        <img src="/img/radio-selected.png" alt=""/>
                        <span class="form-radio-value">2017年以后</span>
                    </div>
                </div>
                <div class="form-item select-major-only">
                    <span class="form-item-name">申请专业</span>
                    <div class="form-radio selected" data-value="1">
                        <img src="/img/radio.png" alt=""/>
                        <img src="/img/radio-selected.png" alt=""/>
                        <span class="form-radio-value">仅接受本专业</span>
                    </div>
                    <div class="form-radio" data-value="0">
                        <img src="/img/radio.png" alt=""/>
                        <img src="/img/radio-selected.png" alt=""/>
                        <span class="form-radio-value">接受相关专业</span>
                    </div>
                </div>
                <div class="form-item select-degree">
                    <span class="form-item-name">申请学位</span>
                    <div class="form-radio selected" data-value="master">
                        <img src="/img/radio.png" alt=""/>
                        <img src="/img/radio-selected.png" alt=""/>
                        <span class="form-radio-value">Master</span>
                    </div>
                    <div class="form-radio" data-value="doctor">
                        <img src="/img/radio.png" alt=""/>
                        <img src="/img/radio-selected.png" alt=""/>
                        <span class="form-radio-value">Doctor</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="select-box">
        <div class="select-title">
            考试成绩（必填）
            <img class="select-title-control select-title-open" src="img/select-open.png" alt=""/>
        </div>
        <div class="select-content select-score clear">
            <div class="form-item select-score-gpa  clear">
                <span class="form-item-name">GPA</span>
                <input class="select-gpa" type="text" placeholder="四分制或百分制"/>
                <div class="form-item-notice hidden">
                    <div class="triangle"></div>
                    <p><span></span></p>
                </div>
            </div>
            <div class="form-item select-language clear">
                <span class="form-item-name">语言考试</span>
                <div class="form-radio selected">
                    <img src="/img/radio.png" alt=""/>
                    <img src="/img/radio-selected.png" alt=""/>
                    <span class="form-radio-value">TOEFL</span>
                </div>
                <div class="form-radio">
                    <img src="/img/radio.png" alt=""/>
                    <img src="/img/radio-selected.png" alt=""/>
                    <span class="form-radio-value">IELTS</span>
                </div>
            </div>
            <div class="form-item select-language-input clear">
                <input class="select-language-overall" type="text" placeholder="Overall"/>
                <input class="select-language-r" type="text" placeholder="R"/>
                <input class="select-language-l" type="text" placeholder="L"/>
                <input class="select-language-s" type="text" placeholder="S"/>
                <input class="select-language-w" type="text" placeholder="W"/>
                <div class="form-item-notice hidden">
                    <div class="triangle"></div>
                    <p><span></span></p>
                </div>
            </div>
            <div class="form-item select-exam clear">
                <span class="form-item-name">标准化考试</span>
                <div class="form-radio selected">
                    <img src="/img/radio.png" alt=""/>
                    <img src="/img/radio-selected.png" alt=""/>
                    <span class="form-radio-value">GRE</span>
                </div>
                <div class="form-radio">
                    <img src="/img/radio.png" alt=""/>
                    <img src="/img/radio-selected.png" alt=""/>
                    <span class="form-radio-value">GMAT</span>
                </div>
            </div>
            <div class="form-item select-exam-input clear">
                <input class="select-exam-overall" type="text" placeholder="Overall"/>
                <input class="select-exam-v" type="text" placeholder="V"/>
                <input class="select-exam-q" type="text" placeholder="Q"/>
                <input class="select-exam-aw" type="text" placeholder="AW"/>
                <div class="form-item-notice hidden">
                    <div class="triangle"></div>
                    <p><span></span></p>
                </div>
            </div>
            <div class="select-gresub clear">
                <div class="form-item select-form-special clear">
                    <div class="form-select select-special">
                        <div class="form-select-value">选择GRE SUB专项</div>
                        <div class="form-select-arrow"></div>
                        <div class="form-select-option hidden">
                            <ul>
                                <li>GRE</li>
                                <li>SUB</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-item select-form-special-score">
                    <input class="select-special-score" type="text" placeholder="分数"/>
                    <div class="form-item-notice hidden">
                        <div class="triangle"></div>
                        <p><span></span></p>
                    </div>
                </div>
            </div>
            <div class="form-item select-form-last clear hidden">
                <span class="form-item-name">LAST</span>
                <input class="select-last" type="text" placeholder="四分制或百分制"/>
                <div class="form-item-notice hidden">
                    <div class="triangle"></div>
                    <p><span></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="select-box">
        <div class="select-title">
            其他补充项（选填/多选）
            <img class="select-title-control select-title-open" src="img/select-open.png" alt=""/>
        </div>
        <div class="select-content select-other clear">
            <div class="form-item select-exchange clear">
                <div class="form-item-name">海外学习经历</div>
                <div class="form-check clear">
                    <img src="/img/check.png" alt=""/>
                    <img src="/img/check-selected.png" alt=""/>
                    <div class="form-check-value"><span>有相关经历,并取得较好学分</span></div>
                </div>
                <div class="form-check clear">
                    <img src="/img/check.png" alt=""/>
                    <img src="/img/check-selected.png" alt=""/>
                    <div class="form-check-value"><span>有相关经历,未取得学分</span></div>
                </div>
                <div class="form-check clear">
                    <img src="/img/check.png" alt=""/>
                    <img src="/img/check-selected.png" alt=""/>
                    <div class="form-check-value"><span>其他,如实验室等合作项目</span></div>
                </div>
            </div>
            <div class="form-item select-science clear">
                <div class="form-item-name">科研经历</div>
                <div class="form-check clear">
                    <div class="clear">
                        <img src="/img/check.png" alt=""/>
                        <img src="/img/check-selected.png" alt=""/>
                        <div class="form-check-value"><span>国际级科研项目</span></div>
                    </div>
                    <div class="form-select science-select1 hidden">
                        <div class="form-select-value">1年以下</div>
                        <div class="form-select-arrow"></div>
                        <div class="form-select-option hidden">
                            <ul>
                                <li data-value="2">1年以下</li>
                                <li data-value="3">1年以上</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-check clear">
                    <div class="clear">
                        <img src="/img/check.png" alt=""/>
                        <img src="/img/check-selected.png" alt=""/>
                        <div class="form-check-value"><span>国家级科研项目</span></div>
                    </div>
                    <div class="form-select science-select2 hidden">
                        <div class="form-select-value">1年以下</div>
                        <div class="form-select-arrow"></div>
                        <div class="form-select-option hidden">
                            <ul>
                                <li data-value="1.5">1年以下</li>
                                <li data-value="2">1年以上</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-check clear">
                    <img src="/img/check.png" alt=""/>
                    <img src="/img/check-selected.png" alt=""/>
                    <div class="form-check-value"><span>省市级科研项目(含院校项目)</span></div>
                </div>
            </div>
            <div class="form-item select-recommend clear">
                <div class="form-item-name">推荐信</div>
                <div class="form-check clear">
                    <img src="/img/check.png" alt=""/>
                    <img src="/img/check-selected.png" alt=""/>
                    <div class="form-check-value"><span>知名教授推荐</span></div>
                </div>
                <div class="form-check clear">
                    <img src="/img/check.png" alt=""/>
                    <img src="/img/check-selected.png" alt=""/>
                    <div class="form-check-value"><span>一般教授推荐</span></div>
                </div>
                <div class="form-check clear">
                    <img src="/img/check.png" alt=""/>
                    <img src="/img/check-selected.png" alt=""/>
                    <div class="form-check-value"><span>其他教授推荐</span></div>
                </div>
            </div>
            <div class="form-item select-achievement clear">
                <div class="form-item-name">学术成就</div>
                <div class="form-check clear">
                    <div class="clear">
                        <img src="/img/check.png" alt=""/>
                        <img src="/img/check-selected.png" alt=""/>
                        <div class="form-check-value"><span>发表 SCI、EI、SSCI 论文(第一或第二作者)</span></div>
                    </div>
                    <ul class="form-check-input hidden">
                        <li class="clear">
                            <span class="form-item-name">If 值:0~5</span>
                            <input type="text" value="" placeholder="篇数" data-value="3"/>
                        </li>
                        <li class="clear">
                            <span class="form-item-name">If 值:5~10</span>
                            <input type="text" value="" placeholder="篇数" data-value="6"/>
                        </li>
                        <li class="clear">
                            <span class="form-item-name">If 值:<10</span>
                            <input type="text" value="" placeholder="篇数" data-value="10"/>
                        </li>
                    </ul>
                </div>
                <div class="form-check clear">
                    <div class="clear">
                        <img src="/img/check.png" alt=""/>
                        <img src="/img/check-selected.png" alt=""/>
                        <div class="form-check-value"><span>发表 CSCI、CSSCI 等中文核心期刊(第一或第二作者)</span></div>
                    </div>
                    <ul class="form-check-input hidden">
                        <li class="clear">
                            <span class="form-item-name">If 值:0~1</span>
                            <input type="text" value="" placeholder="篇数" data-value="0.5"/>
                        </li>
                        <li class="clear">
                            <span class="form-item-name">If 值:1~2</span>
                            <input type="text" value="" placeholder="篇数" data-value="1"/>
                        </li>
                        <li class="clear">
                            <span class="form-item-name">If 值:>2</span>
                            <input type="text" value="" placeholder="篇数" data-value="3"/>
                        </li>
                    </ul>
                </div>
                <div class="form-check clear">
                    <div class="clear">
                        <img src="/img/check.png" alt=""/>
                        <img src="/img/check-selected.png" alt=""/>
                        <div class="form-check-value"><span>其他,如会议论文(第一或第二作者)</span></div>
                    </div>
                    <ul class="form-check-input hidden">
                        <li class="clear">
                            <span class="form-item-name">高水平会议论文</span>
                            <input type="text" value="" placeholder="篇数" data-value="3"/>
                        </li>
                        <li class="clear">
                            <span class="form-item-name">一般会议论文</span>
                            <input type="text" value="" placeholder="篇数" data-value="0.5"/>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-item select-work clear">
                <div class="form-item-name">工作/实习经历</div>
                <div class="form-check clear">
                    <div class="clear">
                        <img src="/img/check.png" alt=""/>
                        <img src="/img/check-selected.png" alt=""/>
                        <div class="form-check-value"><span>世界 500 强企业单位(含国家级科研院所)专业相关工作/实习经历</span></div>
                    </div>
                    <div class="form-select work-select1 hidden">
                        <div class="form-select-value">1年以下</div>
                        <div class="form-select-arrow"></div>
                        <div class="form-select-option hidden">
                            <ul>
                                <li data-value="1">1年以下</li>
                                <li data-value="3">1年至3年</li>
                                <li data-value="5">3年以上</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-check clear">
                    <div class="clear">
                        <img src="/img/check.png" alt=""/>
                        <img src="/img/check-selected.png" alt=""/>
                        <div class="form-check-value"><span>其他知名企业单位专业相关工作/实习经历(如独角兽企业)</span></div>
                    </div>
                    <div class="form-select work-select2 hidden">
                        <div class="form-select-value">1年以下</div>
                        <div class="form-select-arrow"></div>
                        <div class="form-select-option hidden">
                            <ul>
                                <li data-value="1">1年以下</li>
                                <li data-value="3">1年至3年</li>
                                <li data-value="5">3年以上</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-check clear">
                    <img src="/img/check.png" alt=""/>
                    <img src="/img/check-selected.png" alt=""/>
                    <div class="form-check-value"><span>普通企业单位工作/实习经历</span></div>
                </div>
            </div>
            <div class="form-item select-prize clear">
                <div class="form-item-name">获奖情况</div>
                <div class="form-check clear">
                    <div class="clear">
                        <img src="/img/check.png" alt=""/>
                        <img src="/img/check-selected.png" alt=""/>
                        <div class="form-check-value"><span>专业相关知名比赛 获奖级别（三等奖以上）</span></div>
                    </div>
                    <div class="form-select prize-select1 hidden">
                        <div class="form-select-value">国际级</div>
                        <div class="form-select-arrow"></div>
                        <div class="form-select-option hidden">
                            <ul>
                                <li data-value="5">国际级</li>
                                <li data-value="2.5">国家级</li>
                                <li data-value="1">省市级</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-check clear">
                    <div class="clear">
                        <img src="/img/check.png" alt=""/>
                        <img src="/img/check-selected.png" alt=""/>
                        <div class="form-check-value"><span>数学建模比赛</span></div>
                    </div>
                    <div class="form-select prize-select2 hidden">
                        <div class="form-select-value">冠军O/F奖</div>
                        <div class="form-select-arrow"></div>
                        <div class="form-select-option hidden">
                            <ul>
                                <li data-value="5">冠军O/F奖</li>
                                <li data-value="2.5">国家级M奖</li>
                                <li data-value="1">省级H奖</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="select-submit button-solid">前往申请</button>
</div>