<div class="user main clear">
    {{> usercenter/user-nav}}
    <div class="user-main news">
        <div class="news-tab">
            <ul class="tab-title clear">
                <li class="active">系统消息</li>
                <li>个人消息<span class="news-user-notice"></span></li>
            </ul>
            <div class="tab-box">
                <ul class="news-list news-system-list">
                    <li class="noread">
                        <a class="news-title" href="#">Draven 通过您的邀请链接注册成功，您已获得50积分奖励。</a>
                        <div class="news-date">今天12：23</div>
                        <div class="news-operation">
                            <a href="#">查看</a>
                            <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                        </div>
                    </li>
                    <li class="noread">
                        <a class="news-title" href="#">Draven 通过您的邀请链接注册成功，您已获得50积分奖励。</a>
                        <div class="news-date">今天12：23</div>
                        <div class="news-operation">
                            <a href="#">查看</a>
                            <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                        </div>
                    </li>
                    <li class="noread">
                        <a class="news-title" href="#">Draven 通过您的邀请链接注册成功，您已获得50积分奖励。</a>
                        <div class="news-date">今天12：23</div>
                        <div class="news-operation">
                            <a href="#">查看</a>
                            <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                        </div>
                    </li>
                    <li>
                        <a class="news-title" href="#">Draven 通过您的邀请链接注册成功，您已获得50积分奖励。</a>
                        <div class="news-date">今天12：23</div>
                        <div class="news-operation">
                            <a href="#">查看</a>
                            <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                        </div>
                    </li>
                    <li>
                        <a class="news-title" href="#">Draven 通过您的邀请链接注册成功，您已获得50积分奖励。</a>
                        <div class="news-date">今天12：23</div>
                        <div class="news-operation">
                            <a href="#">查看</a>
                            <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                        </div>
                    </li>
                    <li>
                        <a class="news-title" href="#">Draven 通过您的邀请链接注册成功，您已获得50积分奖励。</a>
                        <div class="news-date">今天12：23</div>
                        <div class="news-operation">
                            <a href="#">查看</a>
                            <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                        </div>
                    </li>
                </ul>
                <div class="list-button">
                    <button class="button-hollow news-system-read">全部已读</button>
                    <button class="button-hollow news-system-delete">全部删除</button>
                </div>
                <div class="list-page">
                    <ul class="clear">
                        <li><a href="#"><span class="list-page-pre"></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><span class="list-page-next"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-box hidden">
                <ul class="news-list news-user-list hidden">
                    <li>
                        <a class="news-title" href="#">lsy 通过您的邀请链接注册成功，您已获得50积分奖励。</a>
                        <div class="news-date">今天12：23</div>
                        <div class="news-operation">
                            <a href="#">查看</a>
                            <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                        </div>
                    </li>
                    <li>
                        <a class="news-title" href="#">lsy 通过您的邀请链接注册成功，您已获得50积分奖励。</a>
                        <div class="news-date">今天12：23</div>
                        <div class="news-operation">
                            <a href="#">查看</a>
                            <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                        </div>
                    </li>
                    <li>
                        <a class="news-title" href="#">lsy 通过您的邀请链接注册成功，您已获得50积分奖励。</a>
                        <div class="news-date">今天12：23</div>
                        <div class="news-operation">
                            <a href="#">查看</a>
                            <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                        </div>
                    </li>
                    <li>
                        <a class="news-title" href="#">lsy 通过您的邀请链接注册成功，您已获得50积分奖励。</a>
                        <div class="news-date">今天12：23</div>
                        <div class="news-operation">
                            <a href="#">查看</a>
                            <img class="news-list-delete" src="img/icon-delete.png" alt=""/>
                        </div>
                    </li>
                    <li>
                        <a class="news-title" href="#">lsy 通过您的邀请链接注册成功，您已获得50积分奖励。</a>
                        <div class="news-date">今天12：23</div>
                        <div class="news-operation">
                            <a href="#">查看</a>
                            <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                        </div>
                    </li>
                    <li>
                        <a class="news-title" href="#">lsy 通过您的邀请链接注册成功，您已获得50积分奖励。</a>
                        <div class="news-date">今天12：23</div>
                        <div class="news-operation">
                            <a href="#">查看</a>
                            <img class="news-list-delete" src="/img/icon-delete.png" alt=""/>
                        </div>
                    </li>
                </ul>
                <div class="news-list-none">
                    暂无消息
                </div>
                <div class="list-button">
                    <button class="button-hollow-ban news-user-read">全部已读</button>
                    <button class="button-hollow-ban news-user-delete">全部删除</button>
                </div>
                <div class="list-page">
                    <ul class="clear hidden">
                        <li><a href="#"><span class="list-page-pre"></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><span class="list-page-next"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="view news-article hidden">
        <div class="news-article-type">
            <span>选校/相关专业</span>
            <div class="news-article-date">今天12：23</div>
        </div>
        <div class="news-article-title">答疑是大学教学中的一个辅助性项目答疑是大学教学中的一个辅助性项目答疑是大学教学中的一个辅助性项目</div>
        <div class="news-article-content" id="news-content">
            <p>
                1.答疑是大学教学中的一个辅助性项目<br/>
                2.答疑是大学教学中的一个辅助性项目<br/>
                3.答疑是大学教学中的一个辅助性项目<br/>
                4.答疑是大学教学中的一个辅助性项目<br/>
                5.答疑是大学教学中的一个辅助性项目<br/>
                6.答疑是大学教学中的一个辅助性项目<br/>
            </p>
        </div>
        <button class="news-article-close button-solid">关闭</button>
    </div>

    <div class="view news-delete hidden">
        <div class="news-delete-title">
            删除
            <img class="news-delete-close" src="/img/icon-close.png" alt=""/>
        </div>
        <div class="news-delete-content">
            <p>

            </p>
        </div>
        <div class="news-delete-button clear">
            <button class="news-delete-cancel button-hollow-ban">取消</button>
            <button class="news-delete-ensure button-solid">删除</button>
        </div>
    </div>

</div>