
    <div class="user main clear">
        {{> usercenter/user-nav}}
        <div class="user-main point">
            <div class="point-title clear">
                目前积分
                <a href="#">积分变动查询</a>
            </div>
            <div class="point-line">
                <div class="point-line-now"></div>
                <div class="point-line-arrow"></div>
                <div class="point-line-number1">0</div>
                <div class="point-line-number2"></div>
                <div class="point-line-number3"></div>
            </div>
            <div class="point-title">任务卡</div>
            <ul class="point-card clear">
                <li>
                    <a href="#">
                        <img src="img/point-card-complete.png" alt=""/>
                        <div class="point-card-name">完善个人信息</div>
                    </a>
                </li>
            </ul>
            <div class="point-nocard hidden">
                <img src="img/point-nocard.png" alt=""/>
            </div>
            <div class="point-title clear">
                邀请朋友
                <span class="point-title-share">
                    （已有2个有效分享）
                    <img class="point-help" src="img/point-help.png" alt=""/>
                </span>
                <div class="point-share-notice">
                    每个成功邀请可获得50积分奖励<br/>
                    用户使用您的邀请码成功注册网站即算一次有效分享
                    <div class="point-share-notice-arrow1"></div>
                    <div class="point-share-notice-arrow2"></div>
                </div>
            </div>
            <div class="point-share clear">
                <button class="point-address button-solid">复制链接地址</button>
                <button class="point-code button-solid">复制邀请码</button>
                <button class="point-blog">分享到微博</button>
                <button class="point-email">通过邮箱分享</button>
            </div>
            <div class="view point-view hidden">
                <div class="point-view-title"></div>
                <div class="point-view-content">
                   <span>

                   </span>
                </div>
                <button class="point-view-close button-solid">关闭</button>
            </div>
            <div class="view point-list hidden">
                <div class="point-title clear">
                    我的积分明细
                    <img class="point-list-close" src="img/point-list-close.png" alt=""/>
                </div>
                <table cellpadding="0" cellspacing="1">
                    <tr>
                        <th>积分说明</th>
                        <th>积分变动</th>
                        <th>剩余积分</th>
                        <th>积分时间</th>
                    </tr>
                    <tr>
                        <td>使用文书建议服务</td>
                        <td><span>-100</span></td>
                        <td>0</td>
                        <td>2016/12/12 12:12:12</td>
                    </tr>
                    <tr>
                        <td>使用文书建议服务</td>
                        <td>100</td>
                        <td>0</td>
                        <td>2016/12/12 12:12:12</td>
                    </tr>
                    <tr>
                        <td>使用文书建议服务</td>
                        <td>100</td>
                        <td>0</td>
                        <td>2016/12/12 12:12:12</td>
                    </tr>
                    <tr>
                        <td>使用文书建议服务</td>
                        <td>100</td>
                        <td>0</td>
                        <td>2016/12/12 12:12:12</td>
                    </tr>
                    <tr>
                        <td>使用文书建议服务</td>
                        <td>100</td>
                        <td>0</td>
                        <td>2016/12/12 12:12:12</td>
                    </tr>
                </table>
               <div class="list-page">
                   <ul class="clear">
                       <li><a href="#"><span class="list-page-pre"></span></a></li>
                       <li class="active"><a href="#">1</a></li>
                       <li><a href="#">2</a></li>
                       <li><a href="#">3</a></li>
                       <li><a href="#">4</a></li>
                       <li><a href="#"><span class="list-page-next"></span></a></li>
                   </ul>
               </div>
            </div>
        </div>
    </div>