.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    height: 60px;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.header.index{
    background: #25baf4;
}

.header-logo{
    float: left;
    height: 40px;
    margin: 10px 20px;
}
.header-logo2{
    display: none;
    float: left;
    height: 40px;
    margin: 10px 20px;
}
.header.index .header-logo{
    display: none;
}
.header.index .header-logo2{
    display: block;
}
.header-nav{
    float: left;
}
.header-nav>li{
    position: relative;
    float: left;
    width: 80px;
    height: 59px;
    line-height: 59px;
    margin-left: 40px;
    font-size: 14px;
    text-align: center;
}
.header-nav li a{
    display: block;
}
.header-nav>li:hover,.header-nav>li.active{
    border-bottom: 1px solid #25baf4;
}
.header.index .header-nav>li>a{
    color: #ffffff;
}
.header.index .header-nav li:hover{
    border-bottom: 1px solid #ffffff;
}
.header-nav-select{
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    text-align: center;
    background: #ffffff;
}
.header-nav-select>li{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.header-nav-select>li a{
    font-size: 13px;
}
.header-nav-select>li:hover a{
    background: #25baf4;
    color: #ffffff;
}
.header-search{
    position: relative;
    float: right;
    height: 30px;
    margin: 15px 20px;
    cursor: pointer;
}
.header-search input{
    display: none;
    width: 150px;
    height: 29px;
    line-height: 30px;
    border-bottom: 1px solid #666666;
}
.header.index .header-search input{
    display: none;
    width: 150px;
    height: 29px;
    line-height: 30px;
    background: #25baf4;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}
.header.index .header-search input::-webkit-input-placeholder{
    color: #ffffff;
}
.header-search-icon{
    position: absolute;
    height: 20px;
    top: 5px;
    right: 5px;
}
.header-search-icon2{
    display: none;
}
.header.index .header-search-icon1{
    display: none;
}
.header.index .header-search-icon2{
    display: block;
}
.header-search-result{
    position: absolute;
    width: 300px;
    top: 45px;
    right: -90px;
    background: #ffffff;
}
.header-search-result-title{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 14px;
}
.header-search-scroll{
    position: relative;
    margin: 10px 0;
    max-height: 245px;
    overflow: hidden;
}
.header-search-scroll ul{
    position: relative;
}
.header-search-scroll ul li a{
    display: block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}
.header-search-scroll ul li span{
    color: #25baf4;
}
.header-search-result-none{
    padding: 20px 10px;
}
.header-user{
    position: relative;
    float: right;
    margin-right: 20px;
    font-size: 13px;
}
.header-user-login{
    height: 60px;
    line-height: 60px;
}
.header-user-login-title a{
    margin: 0 5px;
    height: 60px;
    line-height: 60px;
}
.header.index .header-user-login-title{
    color: #ffffff;
}
.header.index .header-user-login-title a{
    color: #ffffff;
}
.header-user-info{
    position: relative;
}
.header-user-info-avatar{
    height: 34px;
    margin: 13px 0;
    cursor: pointer;
}
.header-user-info-operation{
    position: absolute;
    left: -33px;
    top: 60px;
    width: 100px;
    padding: 10px 0;
    background: #ffffff;
    border-radius: 5px;
}
.header-user-info-operation li{
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.header-user-info-operation li a{
    display: block;
}
.header-user-info-operation li:hover{
    background: #f2f2f2;
}
.view-article{
    width: 700px;
    top: 60px;
    left: 50%;
    margin-left: -350px;
    background: #ffffff;
}
.view-article-title{
    position: relative;
    height: 50px;
    line-height: 49px;
    border-bottom: 1px solid #dfdfdf;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
}
.view-article-close{
    position: absolute;
    height: 14px;
    top: 18px;
    right: 10px;
    cursor: pointer;
}
.view-article-content{
    position: relative;
    min-height: 180px;
    max-height: 500px;
    overflow: hidden;
}
.view-article-content p{
    display: block;
    padding: 30px 50px;
    line-height: 30px;
    font-size: 14px;
}
.login{
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    min-height: 360px;
}
.login.index{
    position: fixed;
    top: 120px;
    left: 50%;
    margin-left: -150px;
}
.login-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background: #ffffff;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}
.login-switch{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    cursor: pointer;
}
.login-title{
    font-size: 16px;
    font-weight: 600;
    color: #25baf4;
}
.login-qrcode{
    margin: 40px;
}
.login-notice{
    font-size: 16px;
}
.login .form-item{
    margin-top: 20px;
}
.login input{
    width: 100%;
    height: 40px;
    padding: 10px;
    line-height: 18px;
    background: #fbfbfb;
}
.login-icon{
    position: absolute;
    height: 20px;
    top: 10px;
    right: 10px;
}
.login-forget{
    display: block;
    text-align: right;
    margin: 10px 0;
    font-weight: 600;
}
.login-forget a{
    color: #25baf4;
}
.login-submit{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 60px;
}
.login-message{
    height: 30px;
    line-height: 30px;
    background: #fdf4f4;
    color: #eb5b60;
    border-radius: 5px;
    margin-top: 20px;
}

.footer{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    background: #676767;
    color: #ffffff;
    overflow: hidden;
}
.footer.index{
    background: #fafafa;
    color: #666666;
}
.footer.index a{
    color: #666666;
}
.footer.relative{
    position: relative;
    bottom: 0;
    left: 0;
}
.footer-agreement{
    float: left;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
}
.footer-agreement a{
    margin-right: 5px;
    color: #ffffff;
}
.footer-agreement span{
    margin-left: 5px;
}
.footer-company{
    float: right;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
}
.page1 img{
    display: block;
    margin: 0 auto;
}
.page1 img.page1-button{
    margin-top: 80px;
    cursor: pointer;
}
.page1-arrow{
    position: absolute;
    width: 14px;
    left: 50%;
    bottom: 30px;
    margin-left: -7px;
}
.page2{
    margin-top: -50px;
}
.page2-words{
    float: right;
    margin-top: 130px;
    margin-right: 120px;
}
.page2-pic{
    position: relative;
    float: left;
    width: 516px;
    height: 434px;
    margin-left: 80px;
}
.page2-pic-mac{
    position: absolute;
    top: 0;
    left: 0;
}
.page2-pic-magnifier{
    position: absolute;
    right: 20px;
    bottom: -40px;
}
.page2-pic-content{
    position: absolute;
    right: 20px;
    bottom: -40px;
}
.page2-pic-star1{
    position: absolute;
    top: 30px;
    left: 65px;
}
.page2-pic-star2{
    position: absolute;
    top: 55px;
    left: 55px;
}
.page2-pic-star3{
    position: absolute;
    top: 45px;
    left: 20px;
}
.page2-pic-star4{
    position: absolute;
    top: 80px;
    left: 0;
}
.page2-pic-star5{
    position: absolute;
    top: 0;
    right: 50px;
}
.page2-pic-star6{
    position: absolute;
    top: 30px;
    right: 130px;
}
.page2-pic-star7{
    position: absolute;
    top: 55px;
    right: 35px;
}
.page3-words{
    float: left;
    margin-left: 100px;
    margin-top: 120px;
}
.page3-pic{
    position: relative;
    float: right;
    width: 425px;
    height: 517px;
    margin-right: 100px;
}
.page3-pic-bg,.page3-pic-people,.page3-pic-last,.page3-pic-star{
    position: absolute;
    top: 0;
    left: 0;
}
.page3-pic-cloud1{
    position: absolute;
    top: 340px;
    left: 0;
}
.page3-pic-cloud2{
    position: absolute;
    top: 430px;
    right: 0;
}
.page3-pic-mark{
    position: absolute;
    top: 100px;
    left: 50px;
}
.page4-words{
    float: right;
    margin-right: 80px;
    margin-top: 150px;
}
.page4-pic{
    position: relative;
    float: left;
    width: 580px;
    height: 468px;
    margin-left: 80px;
}
.page4-pic-bg,.page4-pic-round,.page4-pic-star,.page4-pic-book,.page4-pic-book img{
    position: absolute;
    top: 0;
    left: 0;
}
.page4-pic-book{
    width: 580px;
    height: 468px;
}
.page4-pic-cloud1{
    position: absolute;
    top: 45px;
    left: 15px;
}
.page4-pic-cloud2{
    position: absolute;
    top: 150px;
    right: 0;
}
.page4-pic-right{
    position: absolute;
    top: 0;
    right: 220px;
}
.page5-words{
    float: left;
    margin-left: 80px;
    margin-top: 70px;
}
.page5-pic{
    position: relative;
    float: right;
    width: 470px;
    height: 414px;
    margin-right: 80px;
}
.page5-pic-round,.page5-pic-star{
    position: absolute;
    top: 0;
    right: 0;
}
.page5-pic-book1{
    position: absolute;
    top: 55px;
    left: 85px;
}
.page5-pic-book2{
    position: absolute;
    top: 145px;
    left: 230px;
}
.page5-pic-pen{
    position: absolute;
    right: 70px;
    bottom: 100px;
}
.page5-pic-ear2{
    position: absolute;
    right: 60px;
    bottom: 50px;
}
.page5-pic-hole,.page5-pic-ear,.page5-pic-hat,.page5-pic-last{
    position: absolute;
    top: 0;
    left: 0;
}
.page6-pic{
    position: relative;
    float: left;
    width: 491px;
    height: 454px;
    margin-left: 100px;
}
.page6-words{
    float: right;
    margin-right: 60px;
    margin-top: 130px;
}
.page6-pic-round,.page-pic-star,.page6-pic-board,.page6-pic-last{
    position: absolute;
    top: 0;
    left: 0;
}
.pag6-line{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: rotate3d(0, 0, 1, -8deg);
    transform: rotate3d(0, 0, 1, -8deg);
}
.page6-line1{
    position: absolute;
    top: 156px;
    left: 53px;
    width: 108px;
    height: 8px;
    border-radius: 5px;
    background: #fb6261;
}

.page6-line2{
    position: absolute;
    top: 177.5px;
    left: 53px;
    width: 134px;
    height: 8px;
    border-radius: 5px;
    background: #febc40;
}
.page6-line3{
    position: absolute;
    top: 199.5px;
    left: 53px;
    width: 72px;
    height: 8px;
    border-radius: 5px;
    background: #36ca4b;
}
.page6-line4{
    position: absolute;
    top: 222px;
    left: 53px;
    width: 48px;
    height: 8px;
    border-radius: 5px;
    background: #32bbf1;
}
.page6-line5{
    position: absolute;
    top: 244px;
    left: 53px;
    width: 134px;
    height: 8px;
    border-radius: 5px;
    background: #5c667d;
}
.page6-colour{
    position: absolute;
    top: -15px;
    left: -350px;
    width: 1065px;
    height: 457px;
    overflow: hidden;
}
.page6-colour img{
    position: absolute;
    top: 0;
    left: 0;
}
.page7{
    text-align: center;
    margin-top: -50px;
}
.page7-button{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -84px;
    margin-top: -60px;
    cursor: pointer;
}
.register{
    position: absolute;
    top: 110px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    background: #ffffff;
    padding: 20px;
}
.register-user{
    text-align: center;
    padding-bottom: 20px;
}
.register-user-avatar{
    width: 60px;
    height: 60px;
    border-radius: 60px;
}
.register-user-username{
    font-size: 18px;
    margin-left: 20px;
    line-height: 60px;
}
.register .complete-title{
    font-size: 16px;
    color: #999999;
    text-align: center;
    margin-bottom: 20px;
}
.register .form-item{
    margin-bottom: 20px;
}
.register .form-item-name{
    float: left;
    width: 60px;
    text-align: right;
    height: 30px;
    line-height: 30px;
    color: #999999;
}
.register input{
    float: left;
    margin-left: 20px;
    width: 250px;
    height: 30px;
    line-height: 18px;
    padding: 5px 10px;
    font-size: 14px;
}
.register .form-item.complete-title{
    text-align: center;
    margin: 0 0 10px 0;
}
.register .form-item-notice{
    right: -170px;
}
.register .complete-submit{
    display: block;
    width: 280px;
    height: 40px;
    line-height: 40px;
    margin: 30px auto 0;
    font-size: 18px;
    font-weight: 600;
}

.register.send .register-user{
    border-bottom: 1px solid #e6e6e6;
}
.register .send-content{
    padding: 60px 0;
    text-align: center;
}
.register .send-content p,.register .noreceive-content p{
    font-size: 16px;
    line-height: 25px;
}
.register .send-noreceive{
    display: block;
    margin-top: 60px;
    font-size: 14px;
    color: #25baf4;
}
.register .send-button-jump,.register .noreceive-content-change{
    float: left;
    width: 160px;
    height: 35px;
    line-height: 33px;
    border-radius: 5px;
    font-size: 14px;
}
.register .send-button-home,.register .noreceive-content-resend{
    float: right;
    width: 160px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    font-size: 14px;
}
.register .noreceive-content{
    padding: 80px 0 100px;
    text-align: center;
}

.test{
    position: absolute;
    width: 300px;
    top: 110px;
    left: 50%;
    margin-left: -150px;
    background: #ffffff;
    padding: 50px;
}
.test-title{
    font-size: 20px;
    font-weight: 600;
    color: #25baf4;
    text-align: center;
}
.test-icon{
    display: block;
    width: 50px;
    margin: 60px auto;
}
.test-slogan{
    font-size: 14px;
    text-align: center;
}
.test-button{
    display: block;
    margin: 60px auto 0;
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.forget{
    position: absolute;
    width: 300px;
    top: 110px;
    left: 50%;
    margin-left: -150px;
    padding: 30px;
    background: #ffffff;
}
.forget-title{
    font-size: 20px;
    font-weight: 600;
    color: #25baf4;
    text-align: center;
    margin-bottom: 50px;
}
.forget.email .form-item input{
    width: 100%;
    height: 30px;
    line-height: 18px;
    padding: 5px 10px;
    background: #fbfbfb;
    font-size: 14px;
}
.forget-button{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
}
.forget.email .forget-button{
    margin-top: 160px;
}
.forget .form-item-notice{
    right: -200px;
}
.forget .send-content{
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 100px;
}
.forget.reset .form-item{
    margin-bottom: 20px;
}
.forget.reset .form-item-name{
    display: block;
    width: 60px;
    float: left;
    text-align: right;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.forget.reset .form-item-value{
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-left: 10px;
}
.forget.reset .form-item input{
    width: 170px;
    float: left;
    height: 30px;
    line-height: 18px;
    padding: 5px 10px;
    background: #fbfbfb;
    border: 1px solid #d6d6d6;
    font-size: 14px;
    margin-left: 10px;
}
.forget .reset-submit{
    margin-top: 70px;
}


.mail{
    position: fixed;
    width: 600px;
    top: 150px;
    left: 50%;
    margin-left: -300px;
    background: #ffffff;
    padding: 40px;
    text-align: center;
}
.mail-logo{
    position: absolute;
    width: 120px;
    top: -80px;
    left: 0;
}
.mail-title{
    font-size: 20px;
    font-weight: 600;
    color: #25baf4;
    margin-bottom: 60px;
}
.mail-icon{
    height: 50px;
    margin-bottom: 50px;
}
.mail-content{
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 50px;
}
.mail-button{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
}
.mail-notice{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -60px;
    text-align: center;
    line-height: 22px;
}

.user{
    padding-top: 80px;
}
.user-side{
    width: 200px;
    height: 450px;
    float: left;
    border-radius: 5px;
    background: #25baf4;
    padding: 50px 0;
    margin-bottom: 70px;
}
.user-side li{
    position: relative;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.user-side li a{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}
.user-side li:hover a,.user-side li.active a{
    background: #ffffff;
    color: #25baf4;
}
.user-side-icon{
    position: absolute;
    top: 15px;
    left: 40px;
    display: block;
}
.user-side-icon-active{
    position: absolute;
    top: 15px;
    left: 40px;
    display: none;
}
.user-side li:hover .user-side-icon,.user-side li.active .user-side-icon{
    display: none;
}
.user-side li:hover .user-side-icon-active,.user-side li.active .user-side-icon-active{
    display: block;
}
.user .user-main{
    width: 980px;
    float: right;
    background: #ffffff;
    border-radius: 5px;
    padding: 0 30px;
    margin-bottom: 70px;
}
.user .set-tab .tab-title,.user .news-tab .tab-title{
    height: 50px;
    line-height: 49px;
    border-bottom: 1px solid #dcdcdc;
    font-size: 14px;
}
.user .set-tab .tab-title li,.user .news-tab .tab-title li{
    position: relative;
    width: 80px;
    text-align: center;
    margin-right: 10px;
    float: left;
    cursor: pointer;
}
.user .set-tab .tab-title li:hover,.user .set-tab .tab-title li.active,.user .news-tab .tab-title li:hover,.user .news-tab .tab-title li.active{
    position: relative;
    height: 50px;
    color: #25baf4;
    border-bottom: 2px solid #25baf4;
}
.user .set-tab .tab-box{
    padding: 50px 0;
}
.user .set-avatar{
    float: left;
    margin-left: 30px;
}
.user .set-avatar img{
    display: block;
    width: 100px;
}
.user .set-avatar-change{
    width: 100px;
    height: 30px;
    line-height: 28px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
}
.user .set-form-info{
    float: left;
    margin-left: 20px;
}
.user .set-form .form-item{
    margin-bottom: 25px;
}
.user .set-form .form-item-name{
    float: left;
    width: 90px;
    text-align: right;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333333;
}
.user .set-form input,.user .form-select{
    float: left;
    height: 40px;
    line-height: 18px;
    padding: 10px;
    width: 300px;
    margin-left: 30px;
    box-shadow: 0 0 5px rgba(220,220,220,0.5);
    font-size: 14px;
}
.user .set-form .form-item-notice{
    left: 440px;
    top: 0;
}
.user .form-item-value{
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin-left: 30px;
}
.user .set-form-send{
    position: absolute;
    top: 0;
    right: -120px;
    width: 100px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #dcdcdc;
    box-shadow: 0 0 5px rgba(220,220,220,0.5);
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
}
.user .set-save{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin-left: 230px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}
.user .set-form-password{
    margin-left: 150px;
}
.user .point-title{
    position: relative;
    height: 50px;
    line-height: 50px;
    color: #25baf4;
    font-size: 14px;
    font-weight: 600;
}
.user .point-title a{
    float: right;
    font-weight: 500;
    text-decoration: underline;
}
.user .point-line{
    position: relative;
    height: 8px;
    border-radius: 10px;
    background: #ededed;
    margin: 40px 0;
}
.user .point-line-now{
    position: absolute;
    width: 0;
    height: 8px;
    top: 0;
    left: 0;
    background: #25baf4;
    border-radius: 10px;
}
.user .point-line-arrow{
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #25baf4;
    margin-left: -8px;
}
.user .point-line-number1{
    position: absolute;
    width: 50px;
    text-align: left;
    bottom: -30px;
    left: 0;
    font-weight: 600;
}
.user .point-line-number2{
    position: absolute;
    width: 50px;
    text-align: center;
    bottom: -30px;
    left: 0;
    margin-left: -25px;
    font-weight: 600;
}
.user .point-line-number3{
    position: absolute;
    width: 50px;
    text-align: right;
    bottom: -30px;
    right: 0;
    font-weight: 600;
}
.user .point-card li{
    float: left;
    margin-left: 9px;
    margin-bottom: 10px;
}
.user .point-card li:nth-child(4n+1){
    margin-left: 0;
}
.user .point-card-name{
    text-align: center;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
}
.user .point-nocard{
    text-align: center;
}
.user .point-title-share{
    position: relative;
    color: #666666;
}
.user .point-help{
    position: absolute;
    right: -12px;
    top: -5px;
}
.user .point-share-notice{
    display: none;
    position: absolute;
    width: 300px;
    border: 1px solid #dcdcdc;
    background: #fbfbfb;
    border-radius: 3px;
    top: -40px;
    left: 0;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
    color: #666666;
    line-height: 16px;
}
.user .point-share-notice-arrow1{
    position: absolute;
    left: 50%;
    top: 43px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #dcdcdc;
    margin-left: -8px;
}
.user .point-share-notice-arrow2{
    position: absolute;
    left: 50%;
    top: 42px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #fbfbfb;
    margin-left: -8px;
}
.user .point-share{
    margin-bottom: 20px;
}
.user .point-share button{
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    margin-right: 20px;
    border-radius: 3px;
}
.user .point-blog{
    background: #f36060;
    box-shadow: 0 0 5px rgba(243,96,96,0.5);
}
.user .point-blog:hover{
    background: rgba(253,106,106,1);
    box-shadow: 0 0 5px rgba(253,106,106,0.5);
}
.user .point-email{
    background: #f3b948;
    box-shadow: 0 0 5px rgba(243,185,72,0.5);
}
.user .point-email:hover{
    background: rgba(253,195,82,1);
    box-shadow: 0 0 5px rgba(253,195,82,0.5);
}
.user .point-view{
    width: 250px;
    height: 260px;
    background: #ffffff;
    top: 200px;
    left: 50%;
    margin-left: -125px;
    overflow: hidden;
}
.user .point-view-title{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.user .point-view-content{
    width: 100%;
    padding: 0 15px;
    display: table;
    height: 180px;
    text-align: center;
    font-size: 14px;
}
.user .point-view-content span{
    width: 100%;
    display: table-cell;
    vertical-align:middle;
    word-break:break-all
}
.user .point-view-close{
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
}
.user .point-list{
    width: 700px;
    background: #ffffff;
    top: 120px;
    left: 50%;
    margin-left: -350px;
    padding: 0 30px;
}
.user .point-list-close{
    float: right;
    margin: 17px 0;
    cursor: pointer;
}
.user .point-list table{
    width: 100%;
    background: #dcdcdc;
}
.user .point-list table th{
    background: #ededed;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.user .point-list table td{
    background: #ffffff;
    height: 40px;
    text-align: center;
    font-size: 14px;
}
.user .point-list table tr:nth-child(2n+1) td{
    background: #ededed;
}
.user .news-user-notice{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    top: 10px;
    right: 5px;
    background: #ff3f3f;
}
.user .news-tab .tab-box{
    padding: 30px 0;
}
.news-list-none{
    height: 270px;
    line-height: 270px;
    text-align: center;
    font-size: 14px;
}
.user .news-list li{
    position: relative;
    height: 45px;
    line-height: 44px;
    border-bottom: 1px solid #dcdcdc;
    font-size: 14px;
    padding-right: 100px;
    padding-left: 10px;
}
.user .news-list li:hover{
    background: #fafafa;
}
.user .news-list li.noread a{
    font-weight: 600;
}
.user .news-date,.user .news-operation{
    position: absolute;
    width: 100px;
    top: 0;
    right: 0;
    height: 44px;
    line-height: 44px;
    text-align: center;
}
.news-operation{
    display: none;
}
.user .news-operation a{
    color: #25baf4;
}
.user .news-list-delete{
    margin: 12px 0 12px 10px;
    cursor: pointer;
}
.user .news-list li:hover .news-date{
    display: none;
}
.user .news-list li:hover .news-operation{
    display: block;
}
.user .news .list-page{
    margin-bottom: 0;
}
.user .list-button{
    text-align: right;
}
.user .list-button button{
    width: 130px;
    height: 40px;
    line-height: 38px;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 30px;
}
.user .news-article{
    width: 450px;
    top: 180px;
    left: 50%;
    margin-left: -225px;
    background: #ffffff;
}
.user .news-article-type{
    position: relative;
    padding: 0 100px 0 30px;
    height: 50px;
    line-height: 50px;
}
.user .news-article-type span{
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}
.user .news-article-date{
    position: absolute;
    width: 100px;
    height: 50px;
    line-height: 50px;
    top: 0;
    right: 30px;
    text-align: right;
}
.user .news-article-title{
    padding: 0 30px 10px;
    border-bottom: 1px solid #dcdcdc;
    font-size: 13px;
}
.user .news-article-content{
    position: relative;
    margin: 20px 30px;
    height: 120px;
    overflow: hidden;
}
.user .news-article-content p{
    font-size: 13px;
    line-height: 30px;
}
.user .news-article-close{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 600;
}
.user .news-delete{
    top: 200px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    background: #ffffff;
}
.user .news-delete-title{
    position: relative;
    margin: 0 10px;
    height: 40px;
    line-height: 39px;
    border-bottom: 1px solid #dcdcdc;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.user .news-delete-close{
    position: absolute;
    height: 14px;
    top: 13px;
    right: 0;
    cursor: pointer;
}
.user .news-delete-content{
    display: table;
    margin: 0 10px;
    width: 100%;
    height: 160px;
    border-bottom: 1px solid #dcdcdc;
}
.user .news-delete-content p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
}
.user .news-delete-content span{
    color: #25baf4;
}
.user .news-delete-button{
    padding: 10px 20px;
}
.user .news-delete-button button{
    width: 120px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
}
.user .news-delete-cancel{
    float: left;
    line-height: 28px;
}
.user .news-delete-ensure{
    float: right;
    line-height: 30px;
}

.help{
    top: 50%;
    right: 0;
    width: 400px;
    margin-top: -300px;
    background: #ffffff;
    overflow: hidden;
}
.help .help-tab{
    height: 600px;
    overflow: hidden;
}
.help .tab-title{
    width: 300px;
    border-radius: 5px;
    border: 1px solid #25baf4;
    margin: 29px auto;
}
.help .tab-box{
    height: 500px;
}
.help .tab-title li{
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #25baf4;
    cursor: pointer;
}
.help .tab-title li.active{
    background: #25baf4;
    color: #ffffff;
}
.help .help-list{
    position: relative;
    padding: 0 20px;
    border-top: 10px solid #f5f5f5;
    height: 420px;
    margin-bottom: 200px;
    overflow: hidden;
}
.help .help-list li{
    display: table;
    height: 60px;
    border-bottom: 1px solid #f5f5f5;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
}
.help .help-list li p{
    display: table-cell;
    vertical-align: middle;
}
.help .help-article{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
}
.help .help-article-title{
    height: 90px;
    padding: 30px 20px;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
    color: #25baf4;
}
.help .help-article-content{
    position: relative;
    padding: 0 20px;
    height: 420px;
    overflow: hidden;
}
.help .help-article-content p{
    line-height: 30px;
    font-size: 14px;
}
.help .help-login img{
    display: block;
    margin: 0 auto;
    padding-top: 70px;
}
.help .help-login-button{
    display: block;
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    margin: 80px auto 0;
}
.help .help-ask{
    position: relative;
}
.help .form-select{
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    font-size: 14px;
}
.help .help-question{
    position: relative;
    width: 360px;
    height: 360px;
    margin: 20px auto 0;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    overflow: hidden;
}
.help .help-question.focus{
    border: 1px solid #25baf4;
}
.help .help-question textarea{
    border: none;
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 15px;
    line-height: 30px;
}
.help .help-question-placeholder{
    position: absolute;
    width: 100%;
    font-size: 16px;
    text-align: center;
    left: 0;
    top: 50%;
    margin-top: -20px;
}

.help .help-upload{
    position: absolute;
    height: 20px;
    line-height: 20px;
    left: 0;
    right: 36px;
    bottom: 0;
    text-align: center;
}
.help .help-upload span{
    position: relative;
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.help .help-upload-now{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ededed;
}
.help .help-upload-delete{
    position: absolute;
    width: 16px;
    top: 2px;
    right: -26px;
    cursor: pointer;
}

.help .help-notice{
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    top: 0;
    left: 0;
    background: rgba(244,68,68,0.9);
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}
.help .help-result{
    text-align: center;
}
.help .help-result p{
    font-size: 18px;
    color: #333333;
    margin-top: 200px;
    line-height: 25px;
}
.help .help-result span{
    display: block;
    font-size: 14px;
    margin-top: 100px;
}
.help .help-back{
    position: absolute;
    width: 34px;
    left: 60px;
    bottom: 21px;
    cursor: pointer;
}
.help .help-file{
    position: absolute;
    width: 34px;
    right: 60px;
    bottom: 21px;
    cursor: pointer;
}
.help .help-close,.help .help-send{
    position: absolute;
    width: 46px;
    bottom: 15px;
    left: 50%;
    margin-left: -23px;
    cursor: pointer;
}

.school{
    padding-top: 80px;
}
.school .screen-side{
    float: left;
    width: 240px;
    margin-bottom: 70px;
}
.school .school-main{
    float: right;
    width: 980px;
    margin-bottom: 70px;
}
.school .school-main.screen{
    width: 940px;
}
.school .screen-side-box{
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    margin-bottom: 20px;
    background: #ffffff;
    overflow: hidden;
}
.school .screen-side-title{
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    background: #25baf4;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
}
.school .screen-side-form{
    padding: 20px;
}
.school .screen-side input{
    width: 100%;
    height: 40px;
    padding: 10px;
    line-height: 18px;
    background: #fbfbfb;
    font-size: 14px;
}
.school .screen-side-form-search{
    position: absolute;
    height: 20px;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.school .screen-side-name{
    margin-bottom: 10px;
    font-size: 14px;
}
.school .screen-side .form-select{
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}
.school .select-form-radio button{
    width: 90px;
    height: 37px;
    line-height: 35px;
    font-size: 14px;
    margin-bottom: 20px;
}
.school .select-form-radio button:nth-child(2n+1){
    float: left;
}
.school .select-form-radio button:nth-child(2n){
    float: right;
}
.school .screen-side-button{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.school .screen-list{
    border: 1px solid #dcdcdc;
    background: #ffffff;
    border-radius: 5px;
    padding: 0 30px;
}
.school .screen-list li{
    position: relative;
    border-bottom: 1px solid #dcdcdc;
    padding: 30px 170px 30px 100px;
}
.school .screen-list li.screen-list-total{
    padding: 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}
.school .screen-list-logo{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 30px;
    left: 0;
}
.school .screen-list-name{
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    height: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}
.school .screen-list-english{
    font-size: 14px;
}
.school .screen-list-address{
    color: #888888;
}
.school .screen-list-rank{
    position: absolute;
    top: 20px;
    right: 0;
}
.school .screen-list-join{
    position: absolute;
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    right: 0;
    bottom: 20px;
}
.school .school-info{
    position: relative;
    border: 1px solid #dcdcdc;
    border-bottom: none;
    padding: 20px 190px 20px 140px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #ffffff;
}
.school .school-info-logo{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 20px;
}
.school .school-info-name{
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    height: 35px;
    line-height: 25px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.school .school-info-address{
    color: #888888;
    font-size: 12px;
    margin-left: 10px;
    vertical-align: middle;
}
.school .school-info-english{
    font-size: 14px;
    margin-bottom: 5px;
}
.school .school-info-link{
    margin-bottom: 10px;
}
.school .school-info-link a{
    font-size: 14px;
    color: #25baf4;
}
.school .school-info-rank{
    position: absolute;
    font-size: 14px;
    top: 20px;
    right: 20px;
    color: #25baf4;
}
.school .school-box{
    overflow: hidden;
}
.school .school-box-title{
    position: relative;
    height: 40px;
    line-height: 40px;
    background: #25baf4;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid #dcdcdc;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 20px;
    z-index: 2;
}
.school .school-box-title img{
    position: absolute;
    right: 10px;
    top: 9px;
    cursor: pointer;
}
.school .school-box.school-brief{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.school .school-brief-title{
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
.school-box-content{
    border: 1px solid #dcdcdc;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    background: #ffffff;
    padding: 20px;
}
.school-brief-content{
    position: relative;
    width: 100%;
    height: 240px;
    padding-left: 340px;
    overflow: hidden;
}
.school-brief-content img{
    position: absolute;
    display: block;
    width: 300px;
    height: 200px;
    top: 20px;
    left: 20px;
}
.school-brief-describe{
    display: table;
    width: 100%;
    height: 100%;
}
.school-brief-describe p{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
}
.school .school-side{
    position: relative;
    width: 200px;
    height: 450px;
    float: left;
    border-radius: 5px;
    background: #25baf4;
    padding: 50px 0;
    margin-top: 20px;
    margin-bottom: 70px;
}
.school .school-side>li{
    position: relative;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.school .school-side>li a{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}
.school .school-side>li:hover a,.school .school-side>li.active a{
    background: #ffffff;
    color: #25baf4;
}
.school-side-son>li{
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.school-side-son>li a{
    color: #ffffff;
    font-size: 14px;
}
.school-side-son>li a:hover{
    text-decoration: underline;
}
.school .school-all{
    float: right;
    width: 980px;
    margin-top: 20px;
}
.school .all-list li{
    display: table;
    float: left;
    font-size: 14px;
    width: 300px;
    margin-right: 10px;
    height: 50px;
}
.school .all-list li a{
    display: table-cell;
    vertical-align: middle;
    line-height: 16px;
}
.school .all-list li a:hover{
    color: #25baf4;
    text-decoration: underline;
}
.school .all-list li.all-list-type{
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #dcdcdc;
    font-weight: 600;
    color: #25baf4;
    font-size: 16px;
}
.school .school-recommend{
    width: 980px;
    float: right;
    margin-top: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    background: #ffffff;
    padding: 30px;
    margin-bottom: 70px;
}
.school .recommend-major{
    margin-top: 20px;
    border-top: 1px solid #dcdcdc;
    padding: 30px 0;
}
.school .recommen-major-total{
    float: left;
    font-size: 16px;
}
.school .recommen-major-item{
    margin-top: 40px;
}
.school .recommen-major-item span{
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    margin-right: 20px;
}
.school .recommen-major-item:nth-child(1) span{
    background: #a8e3fb;
}
.school .recommen-major-item:nth-child(2) span{
    background: #25baf4;
}
.school .recommend-major-form{
    float: left;
    margin-left: 100px;
}
.school .recommend-major-form input{
    width: 250px;
    padding: 10px;
    font-size: 14px;
}
.school .recommend-major-get{
    width: 130px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
}
.school .recommend-major-notice{
    margin-left: 50px;
    margin-top: 20px;
    color: red;
}
.school .recommend-major-title{
    font-size: 16px;
    margin-top: 20px;
}
.school .recommend-major-list{
    margin-top: 20px;
}
.school .recommend-major-list li{
    float: left;
    margin-left: 19px;
}
.school .recommend-major-list li:nth-child(1){
    margin-left: 0;
}
.school .school-major{
    width: 980px;
    float: right;
    margin-top: 20px;
    margin-bottom: 70px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
.school .school-side li.school-side-revise{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
}
.school .school-side li.school-side-revise a{
    width: 120px;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    margin: 0 auto;
    color: #25baf4;
}
.school .school-major-rank{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    line-height: 39px;
}
.school .major-tab .tab-title{
    width: 300px;
    border: 1px solid #25baf4;
    border-radius: 5px;
    overflow: hidden;
}
.school .major-tab .tab-title li{
    width: 50%;
    float: left;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
    color: #25baf4;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.school .major-tab .tab-title li.active{
    background: #25baf4;
    color: #ffffff;
}
.school .major-info{
    padding: 20px 0 0;
    border-bottom: 1px solid #dcdcdc;
}
.school .major-info>li{
    float: left;
    width: 299px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.school .major-info li:nth-child(3n){
    margin-right: 0;
}
.school .major-info span{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    font-size: 13px;
    margin-left: 10px;
}
.school .major-info a{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    font-size: 13px;
    margin-left: 10px;
    text-decoration: underline;
}
.school .major-info .form-select{
    display: inline-block;
    background: none;
    border: none;
    font-size: 13px;
    margin-left: 10px;
    line-height: 20px;
    color: #25baf4;
    cursor: pointer;
}
.school .major-info .form-select-option{
    width: 300px;
    background: none;
    border: none;
    overflow: auto;
}
.school .major-info .form-select-option ul{
    float: left;
    background: #ffffff;
    border: 1px solid #25baf4;
}
.school .major-info .form-select-option li{
    height: 20px;
    line-height: 20px;
    background: #ffffff;
    color: #25baf4;
    margin: 0;
}
.school .major-info .form-select-option li:hover{
    background: #25baf4;
    color: #ffffff;
}
.school .major-require-title{
    margin-top: 20px;
    font-size: 16px;
}
.school .major-require-list{
    margin-top: 20px;
}
.school .major-require-list li{
    position: relative;
    float: left;
    width: 80px;
    text-align: center;
    cursor: pointer;
}
.school .major-require-list-name{
    margin-top: 5px;
}
.school .major-require-list-arrow{
    position: absolute;
    display: none;
    left: 50%;
    margin-left: -5px;
    bottom: -20px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #eeeeee;
}
.school .major-require-list li.active{
    padding-top: 25px;
}
.school .major-require-list li.active .major-require-list-name{
    display: none;
}
.school .major-require-list li.active .major-require-list-arrow{
    display: block;
}
.school .major-require-content{
    position: relative;
    margin-top: 20px;
    background: #eeeeee;
    border-radius: 5px;
    padding: 0 20px;
    height: 120px;
    overflow: hidden;
}
.school .major-require-content-name{
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}
.school .major-require-content p{
    padding: 15px 0 20px;
    line-height: 30px;
    font-size: 14px;
}
.school .major-join{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    margin: 30px auto;
}
.school .major-from-title{
    font-size: 16px;
}
.school .major-from p{
    margin-top: 10px;
}
.school .major-from a{
    text-decoration: underline;
}