.impowerBox .qrcode {width: 180px !important;}
.impowerBox .title {display: none !important;}
.impowerBox .info {width: 180px !important;}
.status_icon {display: none !important;}
.impowerBox .status {text-align: center !important;}
.impowerBox {background: orange !important;} 