<ul class="all-list clear">
    <li class="all-list-type">A</li>
    {{#each partials.schoolmajor.data}}
        {{#each major}}
        <li><a href="#">{{major_name}}</a></li>
        {{/each}} 
    {{/each}}
</ul>