<ul class="all-list clear">
    {{#each data.data}}
            {{#each major}}
            <li class="all-list-type">{{@key}}</li>
                {{#each this}}
                    <li><a href="/school-major?sid={{school_id}}&mid={{major_id}}">{{major_name}}</a></li>
                {{/each}}
            {{/each}}         
    {{/each}}
</ul>