<ul class="school-side" data-school={{sid}}>
    <li class="school-recommend-page">推荐专业</li>
    <li class="school-all-page active">全部专业</li>
    {{#if showAll}}
    <ul class="school-side-son">
        {{#each data.majors}}
           <li class="school-academy-page" data-academy="{{academy}}">{{academy}}</li>
        {{/each}}
    </ul>
    {{/if}}
    
</ul>
