        <ul class="user-side">
            <li>
                <a href="/user-set">
                    <img class="user-side-icon" src="/img/icon-user-set.png" alt=""/>
                    <img class="user-side-icon-active" src="/img/icon-user-set-active.png" alt=""/>
                    个人设置
                </a>
            </li>
            <li class="active">
                <a href="/user-news">
                    <img class="user-side-icon" src="/img/icon-user-news.png" alt=""/>
                    <img class="user-side-icon-active" src="/img/icon-user-news-active.png" alt=""/>
                    消息中心
                </a>
            </li>
            <li>
                <a href="/user-point">
                    <img class="user-side-icon" src="/img/icon-user-point.png" alt=""/>
                    <img class="user-side-icon-active" src="/img/icon-user-point-active.png" alt=""/>
                    积分中心
                </a>
            </li>
        </ul>
